<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hot Dog Brasileiro | Funcionários</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="shortcut icon" href="/images/hotdog.png">

  <link rel="stylesheet" href="/css/admin/admin.css">
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>
   <div class="container">
      <aside class="bg-pattern text-white">
         <div class="top">
           <div class="logo">
               <img src="/images/logo.png" alt=""/>
           </div>
           <div class="close" id="close_btn">
            <span class="material-symbols-sharp">
              close
              </span>
           </div>
         </div>
         <!-- end top -->
          <div class="sidebar bg-pattern text-white">
            <h3 class="user">Olá User</h3>

               <a href="/pedidos">
                  <span class="material-symbols-sharp">receipt_long </span>
                  <h3>Pedidos</h3>
               </a>
               <a href="/produtos">
                  <span class="material-symbols-sharp">grocery </span>
                  <h3>Produtos</h3>
               </a>
               <a href="#" class="active">
                  <span class="material-symbols-sharp">person_outline </span>
                  <h3>Funcionários</h3>
               </a>
               <a href="/categorias">
                  <span class="material-symbols-sharp">category </span>
                  <h3>Categorias</h3>
               </a>
               <a href="#">
                  <span class="material-symbols-sharp">logout </span>
                  <h3>Sair</h3>
               </a>
          </div>
      </aside>

      <main>
           <h1>Funcionários</h1>

           <div class="listHeader libre-franklin">
            <div class="filter">
                <div class="filter-input">
                    <label for="">Buscar funcionário</label>
                    <div class="input-and-buttons">
                        <input type="text" id="searchInput" placeholder="Nome do funcionário">
                        <div class="filter-buttons">
                            <button class="btn btn-secondary" onclick="cleanFilter()">Limpar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="newProduct libre-franklin">
                <button id="openModalButton" onclick="openCreateModal()">
                    <span class="material-symbols-sharp">add</span> Novo funcionário
                </button>
            </div>
        </div>

       <!-- end insights -->
      <div class="recent_order">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="productContainer">
                <% if (funcionarios && funcionarios.length > 0) { %>
                    <% funcionarios.forEach(funcionario => { %>
                        <tr>
                            <td><%= funcionario.nome %></td>
                            <td><%= funcionario.cpf %></td>
                            <td><%= funcionario.email %></td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox"
                                           class="status-checkbox"
                                           data-id="<%= funcionario.id %>"
                                           <%= funcionario.status ? 'checked' : '' %> />
                                    <span class="slider"></span>
                                </label>
                            </td>
                            <td>
                                <button id="editBtn" class="btn btn-success" style="margin-right: 5px;" onclick="openUpdateModal(<%= funcionario.id %>)">Editar</button>
                                <button id="deleteBtn" class="btn btn-danger" onclick="deleteProduct(<%= funcionario.id %>)">Excluir</button>
                            </td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="5" style="text-align: center;">Não há funcionários cadastrados</td>
                    </tr>
                <% } %>
            </tbody>
        </table>

         <nav>
             <ul class="pagination">
                 <% for(let i = 1; i <= totalPages; i++) { %>
                     <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                         <a class="page-link" href="/funcionarios?page=<%= i %>"><%= i %></a>
                     </li>
                 <% } %>
             </ul>
         </nav>
      </div>

      </main>
      <!------------------
         end main
        ------------------->

      <!----------------
        start right main
      ---------------------->
      <div class="right">
        <div class="top">
          <button id="menu_bar">
            <span class="material-symbols-sharp">menu</span>
          </button>

          <div class="theme-toggler">
            <span class="material-symbols-sharp active">light_mode</span>
            <span class="material-symbols-sharp">dark_mode</span>
          </div>
      </div>
   </div>


   <script src="/js/interactions/admin/admin.js"></script>
   <script src="/js/interactions/admin/funcionarios.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
         function getQueryParam(param) {
             const urlParams = new URLSearchParams(window.location.search);
             return urlParams.get(param);
         }

         function removeQueryParams() {
             const url = new URL(window.location.href);
             url.search = '';
             window.history.replaceState({}, document.title, url.toString());
         }

         function showMessageModal(success, message) {
             Swal.fire({
                 title: success === 'true' ? 'Sucesso!' : 'Erro!',
                 text: message,
                 icon: success === 'true' ? 'success' : 'error',
                 showConfirmButton: false,
                 timer: 3000,
                 willClose: () => {
                     removeQueryParams();
                 }
             });
         }

         const success = getQueryParam('success');
         const message = getQueryParam('message');

         if (message) {
             showMessageModal(success, message);
         }

    </script>
</body>
</html>