<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Hot Dogs</title>
    <link rel="stylesheet" href="/css/cardapio/cardapio.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div>
                <img src="/images/logo.png" alt="Logo Hot Dog" class="logo">
            </div>
            <div>
                <h1 id="H1" class="menu-title">Cardápio</h1>
            </div>
            <div class="nav-icons">
                <a href="/home"><img src="/images/produtos/default.webp" alt="home" class="icon"></a>
                <a href="#"><img src="/images/produtos/default.webp" alt="login" class="icon"></a>
                <a href="#"><img src="/images/produtos/default.webp" alt="carrinho" class="icon"></a>
            </div>
        </nav>
    </header>

    <% let produtosEncontrados = 0; %>

    <% categorias.forEach(categoria => { %>
        <% if (produtosPorCategoria[categoria.id] && produtosPorCategoria[categoria.id].length > 0) { %>
            <% produtosEncontrados++; %> <!-- Incrementa a contagem de produtos encontrados -->
            <section class="section">
                <div class="title-container">
                    <hr class="hr-top">
                    <hr class="hr-bottom">
                    <h2><%= categoria.nome %></h2>
                </div>
                <div class="menu-items">
                    <% produtosPorCategoria[categoria.id].forEach(produto => { %>
                        <div class="menu-item">
                            <img src="<%= produto.img ? produto.img : 'images/produtos/default.webp' %>" alt="<%= produto.nome %>" />
                            <p class="nome"><%= produto.nome %></p>
                            <% if (produto.descricao) { %>
                                <p class="descricao"><%= produto.descricao %></p>
                            <% } else { %>
                                <p class="descricao" style="visibility: hidden;">&nbsp;</p>
                            <% } %>
                            <p>R$ <%= produto.preco.toFixed(2) %></p>
                            <button>Adicionar</button>
                        </div>
                    <% }) %>
                </div>
            </section>
        <% } %>
    <% }) %>

    <% if (produtosEncontrados === 0) { %>
        <div class="no-products">
            <img src="images/noProduct.png" alt="Nenhum produto encontrado" />
            <p>Ops! Houve um erro ao buscar produtos. Tente novamente mais tarde</p>
        </div>
    <% } %>


     <footer>
        <img src="images/logo.png" alt="">

        <div class="footer-info-img">
            <img src="images/produtos/default.webp" alt="Whatsapp">
            <img src="images/produtos/default.webp" alt="Whatsapp">
            <img src="images/produtos/default.webp" alt="Whatsapp">
        </div>

        <div class="footer-info-content">
            <p>HORÁRIO DE FUNCIONAMENTO</p>
            <p>QUARTA À SEGUNDA</p>
            <p>19H00 A 22H00</p>

            <br>
            <p>R.Dr.Abrão Venturi Filho, 60, Mococa</p>
        </div>
    </footer>
</body>
</html>
